
<div class="table-responsive">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>{{heading1}} </th>
        <th>{{heading2}}</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>
          <div *ngFor="let card of cardsData">
            <div class="cardBlock">
              <div class="header">
                <span> {{card.title}}
                  <img *ngIf="card.isFavourite" class="star" src="../assets/Images/star-icon.png" (click)="addToFavourite(card)">
                  <img *ngIf="!card.isFavourite" class="star" src="../assets/Images/star-empty.png" (click)="addToFavourite(card)">
                </span>
              </div>
              <div class="body">
                <button type="button" class="btn btn-success" (click)="showPopup(modalData)">Info</button>
                <ng-template #modalData >
                  <div class="modal-header">
                    <h4 class="pull-left">{{card.title}}</h4>
                    <button type="button" class="close pull-right"  (click)="modalRef.hide()">
                     X
                    </button>
                  </div>
                  <div class="modal-body">

                      <div class="panel-group card" >
                          <div class="panel panel-info">
                              <div class="panel-heading body text-center"><b>{{card.info}}</b>
                                <span class="pull-right"> 
                                    <img *ngIf="card.isFavourite" class="star" src="../assets/Images/star-icon.png" (click)="addToFavourite(card)">
                                    <img *ngIf="!card.isFavourite" class="star" src="../assets/Images/star-empty.png" (click)="addToFavourite(card)">
                                  </span>
                              </div>
                              <div class="panel-body">
                                {{card.description}}
                                <br>
                            
                              </div>
                            </div>
                        
                        
                        </div>
                    
                  </div>
                </ng-template>

              </div>
              <div class="footer">
                  <button type="button" class="btn btn-primary open" style="float: right" (click)="showDetails(card._id)">Open</button>
              </div>

            </div>
          </div>

        </td>
      </tr>
    </tbody>
  </table>
</div>
